body { background-color: #222222; color: #FFFFFF;
           font-family: Ubuntu, sans-serif; }

header { background-image: url(notebookstripe.png);
              padding-left: 10%;
              color: #EEEEEE; }

header h1 { font-size: 3.5em; font-family: Shrikhand, cursive; margin-bottom: 0; }

header h2 { font-size: 2em; font-style: italic; }

nav { background-image: url(leather.png); background-color: #000000; text-align: center;
        padding: 0.7em; font-size: 2em; }

nav a { text-decoration: none; padding-right: 70px; }

nav a:link { color: #FFFFFF; }
nav a:visited { color: #FFFFFF; }
nav a:hover { text-shadow: 0px 0px 10px #FFFF00; }

main { background-color: #222222; }

main a:link { color: #000000; }
main a:visited { color: #000000; }
main a:hover { color: #BBBB00; }

.signup { float: right; }

.content { width: 80%; margin: auto; }

footer { text-align: center; padding: 1em;
             background-color: #000000; color: #EEEEEE; }

footer a:link { color: #FFFFFF; }
footer a:hover { color: #0000FF; }

footer img { border-width: 0; }

@media only screen and (max-width: 1024px) { 
              nav a { padding-right: 30px; }
              .menu { display: none; }
              .maincol { width: 95%; margin: auto; }
              footer { margin: auto; }
}

@media only screen and (max-width: 768px) { 
              nav { display: block; }
}

