body { background-color: #222222; color: #FFFFFF;
       font-family: Ubuntu, sans-serif; }

header { background-image: url(images/bigknife.jpg); background-size: cover;
         color: #000000; padding-left: 10%; }

header h1 { font-size: 4em; font-family: Shrikhand, cursive; margin-top: 0;
            padding-top: 5%; text-shadow: 0 0 5px #EEEEEE; }
             
header h2 { font-size: 3em; font-family: Ubuntu, sans-serif; padding-left: 2%;
            font-style: italic; padding-bottom: 5%; margin-bottom: 0; text-shadow: 0 0 10px #FF8800; }

nav { background-image: url(images/stockfirepic.jpg); background-color: #000000; text-align: center;
        padding: 0.3em; font-size: 2em; font-family: Ubuntu, sans-serif; margin-bottom: 0; }

nav a { text-decoration: none; padding-right: 70px; }

nav a:link { color: #FFFFFF; }
nav a:visited { color: #FFFFFF; }
nav a:hover { text-shadow: 3px 3px 10px #FF8800; }

main h2 { text-align: center; }

main a:link { color: #FF8800; }
main a:visited { color: #AAAAAA; }
main a:hover { color: #BBBB00; }

#signup { background-color: #555555; padding: 10px; border-radius: 15px; }
#signup h3 { font-size: 1.5em; color: #000000; font-style: italic; padding-left: 10px; }
#signup label { float: left; width: 150px; margin-top: 5px; 
                clear: left; text-align: right; padding-right: 20px; }
#signup input { margin-top: 10px; display: block; }
#sub { margin-left: 170px; }
#unsub { margin-left: 170px; }

.content { width: 60%; margin: auto; padding-bottom: 2%; }
.content dt { font-size: 1.2em; font-weight: bold; padding-top: 2%; }

.book { background-color: #000000; padding: 5%; border-radius: 15px; }
.book img { float: left; margin: 2%; }
.book table { margin: 2%; }
.book td { padding: 0.5em; }

footer { text-align: center; padding: 1em;
             background-color: #000000; color: #EEEEEE; }

footer a:link { color: #FFFFFF; }
footer a:visited { color: #AAAAAA; }
footer a:hover { color: #FFFF00; }

@media only screen and (max-width: 1024px) { .content { width: 80%; } }

@media only screen and (max-width: 768px) { nav { display: block; } }

